/* scatter plot visualization */
.points {
  stroke-width: 1.5px;
}

.axis {
  fill: none;
  stroke: black;
  stroke-opacity: 10;
  shape-rendering: crispEdges;
  vector-effect: non-scaling-stroke;
}

.axis text {
  fill: black
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.vis-background {
  fill: white;
}

#selectors {
  text-aling: center;
  top: 50px;
  background-color: lightgreen;
}

div.scatter-selectors {
  margin-left: 100px;
  background-color: lightsteelblue;
  width: 425px;
}
.control-label {
  font-size: 12px;
}

/* Feature Importance Visualization */
.vis-title {
  font-size: 36px;
  font-weight: bold;
}

.overview-bar {
  cursor: pointer;
}

.overview-bar:hover {

}

text.effect-values {
  position:relative;
  z-index: 100;
}

/* Drill Down Style*/
h2 {
  text-align: center;
}
.bar-svg {
  height: 35px;
}

.text {
  position: relative;
  float: left;
  width: 200px;
  border-right: solid lightsteelblue 2px;
}

.chart {
  position: relative;
  float: left;
}

.select-chart-type {
  position: realtive;
  float: left;
  margin: 5px;
  background-color: lightsteelblue;
  height: 30px;
  width: 85px;
  text-align: center;
}

.subplot {
  position: relative;
  float: left;
}

.college-label {
  opacity: 0;
}

.selected-college {
  opacity: .3;
}

.tick {
  position: relative;
  z-index: 100;
}

.remove-tab {
  opacity: 0;
}

svg.histogram g rect.bar {
  fill: lightgreen;
  stroke: white;
  stroke-width: 2px;
}

.filters {
  position: relative;
  float: right;
}

.open-filters {
  height:100px;
  width: 15px;
  background-color: lightsteelblue;
}

.college-filters {
  height: 20px;
  width: 70px;
  background-color: grey;
  float:left;
}

.app-filters {
  height: 20px;
  width: 70px;
  background-color: lightgrey;
  float: left;
}

.close-filters {
  background-color: red;
  float:right;
  height: 20px;
  width: 30px;
  text-align: center;
  opacity: 0.4;
}

.filters-main {
  background-color: lightsteelblue;
}

#heat-map-legend {
  
}


body{font-family:arial, 'Hiragino Sans GB',Tahoma, Arial, Helvetica, STHeiti;font-size: 14px;}
.days-hours-heatmap{padding: 20px 0 20px 0;width: 500px;margin: 0 auto;}
.days-hours-heatmap .calibration{margin-bottom: 15px;width:400px;}
.days-hours-heatmap .calibration .group{display: inline-block;}
.days-hours-heatmap .calibration .description{width:108px;}
.days-hours-heatmap .calibration .description>label:last-child{float:right;}
.days-hours-heatmap .calibration>.display-control{float:right;}
.days-hours-heatmap .calibration>.display-control label{vertical-align: top;}
.days-hours-heatmap .calibration>.display-control input[type='radio']{cursor: pointer;}

.days-hours-heatmap .heatmap .axis path{display: none;}
.days-hours-heatmap .heatmap .axis line{fill: none;stroke: #000;shape-rendering: crispEdges;}
.days-hours-heatmap .heatmap .axis text{font-size: 12px}


